@font-face {
    font-family: Unifont;
    src: url(https://unifoundry.com/pub/unifont/unifont-15.1.05/font-builds/unifont-15.1.05.otf)  format("opentype");
}

#mawusu-korean-alphabet p,
#sounds-of-korean p,
#learn-korean p {
    font-family: -apple-system,BlinkMacSystemFont,Segoe UI,Helvetica,Arial,sans-serif,Apple Color Emoji,Segoe UI Emoji,Unifont;
}
